# Bench specific ignores
/env/
/sites/
/logs/
/config/
/archived_sites/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.vscode/
.idea/
*.swp
*.swo
node_modules/
export_wp.py
fix_perms.py
fix_perms_bench.py
reload_docs.py
technician-dashboard.js
